# **Notebook de transfert des donnees du site nba.com depuis le site ou un fichier intermediaire**

In [1]:
import pandas as pd
import sys, os #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import Connexion_Transfert as ct

from datetime import datetime
from TelechargementDonnees import JoueursSiteNba

# 1. Données de joueurs 
Il s'agit de transfere dans le cas des donnees de joueuer telechargees en amont, ou d'ajouter des joueurs non presents au moment d'insertion de match

>## 1.1 Enumerations des types de position
A creer a la main

In [3]:
#creation de la classe
pagejoueuer=JoueursSiteNba()

In [5]:
with ct.ConnexionBdd('basket','boulot') as c : 
    pd.DataFrame({'id_position_terrain':pagejoueuer.dfJoueurs.id_position_terrain.unique(), 
              'nom_position_terrain':['Forward ; 3 ; ailier', 'Guard ; 1 ou 2  ; meneur ou arriere', 
                                      'Center ; 5 ; Pivot' ,'Power Forward ; 4 ; ailier Fort', 
                                      'Shooting Guard ; 2 ; arriere', 'Shooting Guard ; 2 ; arriere',
                                      'Power Forward ; 4 ; ailier Fort']}).to_sql(
        'enum_position_terrain', c.sqlAlchemyConn, schema='donnees_source', if_exists='append', index=False)

> ## 1.2 Donnees chargees depuis la page internet
Là ce n'est que le premier import, on ne gère pas la mise à jour

In [6]:
#transfert dans la Bdd
with ct.ConnexionBdd('basket','boulot') as c : 
    pagejoueuer.dfJoueurs[['nom','id_position_terrain','taille', 'poids','date_entree_nba']].to_sql(
        'joueur', c.sqlAlchemyConn, schema='donnees_source', if_exists='append', index=False)

# 2. Données d'équipe
On utilise les données de joueurs pour faire la liste des equipes, et on complete avec les divisions et conférence, puis on transfere

In [7]:
dicoDivision={'Central Division': ['MIL', 'CHI', 'IND', 'CLE', 'DET'],'Atlantic Division': ['BOS', 'BKN', 'NYK', 'TOR', 
'PHI'],'Southeast Division' : ['MIA', 'ORL', 'WAS', 'CHA', 'ATL'],'Southwest Division': ['SAS', 'HOU', 'DAL', 'NOP', 
'MEM'],'Northwest Division' : ['DEN', 'MIN', 'OKC', 'POR', 'UTA'],'Pacific Division' : ['LAC', 'LAL', 'PHX', 'GSW', 'SAC']}
listDivision=[k for e in pagejoueuer.dfJoueurs.equipe.unique() for k,v in dicoDivision.items()  if e in v]

In [26]:
dicoConference={'Ouest' : ['SAS', 'HOU', 'DAL', 'NOP', 'MEM','DEN', 'MIN', 'OKC', 'POR', 'UTA','LAC', 'LAL', 'PHX', 
    'GSW', 'SAC'],'Est':['MIL', 'CHI', 'IND', 'CLE', 'DET','BOS', 'BKN', 'NYK', 'TOR', 'PHI','MIA', 
                         'ORL', 'WAS', 'CHA', 'ATL']}
dicoNom={'MIA':'Miami Heat','MIL':'Milwaukee Bucks','NOP':'New-Orleans Pelicans','SAS':'San-Antonio Spurs',
'PHX':'Phoenix','MEM':'Memphis Grizzlies',    'BKN':'Brooklyn Nets','ORL':'Orlando Magic','LAL':'LosAngeles Lakers','POR':'Portland TrailBlazzers','TOR':'Toronto Raptors','CHI':'Chicago Bulls',
'OKC':'Oklahoma City Thunder','WAS':'Washington Wizards','UTA':'Utah Jazz','SAC':'Sacramento Kings','CHA':'Charlotte Hornets','NYK':'New-York Knicks','DEN':'Denver Nuggets',
'LAC':'Los Angeles Clippers','GSW':'Golden State Warriors','MIN':'Minessota TimberWolves','DET':'Detroit Pistons','DAL':'Dallas Mavericks',
'IND':'Indiana Pacers','ATL':'Atlanta Hawks','CLE':'Cleveland Cavaliers','PHI':'Philadelphia Sixers','BOS':'Boston Celtics','HOU':'Houston Rockets'}
listConference=[k for e in pagejoueuer.dfJoueurs.equipe.unique() for k,v in dicoConference.items()  if e in v] 
listNom=[v for k,v in dicoNom.items() for e in pagejoueuer.dfJoueurs.equipe.unique() if k==e]

In [30]:
with ct.ConnexionBdd('basket','boulot') as c : 
    pd.DataFrame({'id_equipe':pagejoueuer.dfJoueurs.equipe.unique(),'nom_equipe': listNom,
              'conference':listConference, 'division':listDivision}).to_sql(
        'equipe', c.sqlAlchemyConn, schema='donnees_source', if_exists='append', index=False)

# 3. Données de match
Dans un premier temp on va lire les fichiers csv stcokés [ici](C:\Users\martin.schoreisz\Documents\AffairesEnCours\temp\basket)

In [2]:
dossierBase=r'C:\Users\martin.schoreisz\git\Basket\Basket\data'

In [42]:
with ct.ConnexionBdd('basket','boulot') as c:
    for root, dossier, files in os.walk(dossierBase) : 
        for f in files :
            id_type_match=0
            id_saison=1
            if 'equipe' in f and f.endswith('.csv'): 
                continue
            elif 'equipe' not in f and f.endswith('.csv'):
                #recuperer l'id_match : 
                idMatch=c.sqlAlchemyConn.execute("SELECT last_value FROM donnees_source.match_id_match_seq").fetchone()[0] 
                #recuperer l'identifiant du match dans le dossier contenant les fichiers
                groupe=f.split('_')[0][1:]
                #recuperer la date du match
                date=f.split('_')[1][:-4]
                #lire le fichier csv du match, transformer pour remplir la table des matchs
                dfMatchCsv=pd.read_csv(os.path.join(root,f)).rename(columns={'equipe':'id_equipe'})
                equipeExt=dfMatchCsv.iloc[0].id_equipe
                equipeDom=dfMatchCsv.iloc[1].id_equipe
                dfMatchBdd=pd.DataFrame({'id_saison':[id_saison],
                                      'date_match':[date], 
                                      'equipe_domicile':[equipeDom], 
                                      'equipe_exterieure':[equipeExt],
                                      'id_type_match':[id_type_match],
                                        'id_match':idMatch})
                #melt la table csv pour remplir la table des scores de match
                dfScoreMatch=dfMatchCsv.melt(id_vars=['id_equipe'], value_vars=['q1','q2','q3','q4','final'],
                            var_name='id_periode', value_name='score_periode').sort_values('id_equipe')
                dfScoreMatch['id_match']=idMatch
                #maintenant il faut lire les fichiers stats_equipe associés
                i=0
                nomFichierEquipe=f'm{groupe}_equipe{i}_{date}.csv'
                dfStatsJoueursCsv=pd.read_csv(os.path.join(root,nomFichierEquipe))
                #le pb ça va etre de recuperer les id_joueurs, va falloir telecharger d'abords la table de correspondance
                #faire la jointure en amont et ensuite on bascule tout le monde
                dfJoueursBdd=pd.read_sql('select * from donnees_source.joueur',c.sqlAlchemyConn)
                dfJoueursTot=dfStatsJoueursCsv.merge(dfJoueursBdd, on='nom')
                #pensez à enlever les joueurs ayant joué 00:00 minutes
                dfStatsJoueursBdd=dfJoueursTot[['minute', 'points', 'rebonds', 'passes_dec', 'steal',
       'contres', 'tir_reussi', 'tir_tentes', 'pct_tir', 'trois_pt_r',
       'trois_pt_t', 'pct_3_pt', 'lanc_frc_r', 'lanc_frc_t', 'pct_lfrc',
       'rebonds_o', 'rebonds_d', 'ball_perdu', 'faute_p', 'plus_moins', 'dnp',
       'blesse', 'score_ttfl', 'id_joueur']]
                break
        else :
            continue
        break

In [43]:
dfStatsJoueursBdd

,minute,points,rebonds,passes_dec,steal,contres,tir_reussi,tir_tentes,pct_tir,trois_pt_r,...,pct_lfrc,rebonds_o,rebonds_d,ball_perdu,faute_p,plus_moins,dnp,blesse,score_ttfl,id_joueur
0,0 days 00:31:14,13.0,2.0,1.0,0.0,1.0,4.0,16.0,25.0,2.0,...,75.0,0.0,2.0,4.0,4.0,-28.0,False,False,15.0,473
1,0 days 00:22:33,6.0,1.0,0.0,0.0,1.0,2.0,6.0,33.3,1.0,...,50.0,1.0,0.0,0.0,1.0,-28.0,False,False,9.0,357
2,0 days 00:24:17,19.0,6.0,0.0,2.0,0.0,7.0,13.0,53.8,1.0,...,50.0,1.0,5.0,1.0,2.0,-10.0,False,False,36.0,484
3,0 days 00:26:39,6.0,7.0,2.0,1.0,2.0,3.0,14.0,21.4,0.0,...,0.0,4.0,3.0,3.0,1.0,-28.0,False,False,13.0,355
4,0 days 00:30:19,20.0,4.0,10.0,2.0,0.0,7.0,21.0,33.3,2.0,...,100.0,3.0,1.0,3.0,1.0,-23.0,False,False,40.0,105
5,0 days 00:11:17,4.0,2.0,0.0,0.0,0.0,2.0,4.0,50.0,0.0,...,0.0,0.0,2.0,2.0,3.0,-10.0,False,False,5.0,272
6,0 days 00:12:35,2.0,2.0,2.0,1.0,0.0,1.0,2.0,50.0,0.0,...,0.0,0.0,2.0,2.0,3.0,-3.0,False,False,6.0,36
7,0 days 00:12:14,3.0,7.0,2.0,0.0,0.0,1.0,2.0,50.0,1.0,...,0.0,1.0,6.0,0.0,0.0,8.0,False,False,13.0,264
8,0 days 00:12:26,9.0,8.0,1.0,0.0,0.0,4.0,10.0,40.0,1.0,...,0.0,3.0,5.0,0.0,2.0,-6.0,False,False,19.0,87
9,0 days 00:18:55,2.0,2.0,3.0,0.0,0.0,1.0,4.0,25.0,0.0,...,0.0,0.0,2.0,2.0,2.0,-3.0,False,False,4.0,369
10,0 days 00:22:40,3.0,1.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,...,75.0,0.0,1.0,1.0,2.0,1.0,False,False,9.0,461
11,0 days 00:13:15,4.0,4.0,2.0,0.0,2.0,2.0,2.0,100.0,0.0,...,0.0,0.0,4.0,0.0,3.0,-9.0,False,False,14.0,444
12,0 days 00:07:36,8.0,1.0,0.0,0.0,0.0,3.0,3.0,100.0,2.0,...,0.0,0.0,1.0,0.0,0.0,9.0,False,False,14.0,327

# 4. exemple de blessure
le joueur Markelle Fultz s'est fait une rupture des ligaments croisé, exemple d'insertion dans la table blessure

In [ ]:
nomJoueurBlesse='Markelle Fultz'
idTypeBlessure=1
dateBlessure='2021-06-01'
requeteBlessure = f"""insert into donnees_source.blessure(id_joueur,id_type_blessure,date_blessure) 
             select id_joueur,{idTypeBlessure},{dateBlessure} from donnees_source.joueur where lower(nom)=lower{nomJoueurBlesse}"""
with ct.ConnexionBdd('basket','maison') as c : 
    c.execute(c.sqlAlchemyConn,requeteBlessure)