# **Notebook de transfert des donnees du site nba.com depuis le site ou un fichier intermediaire**

In [20]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import sys, os, re, time #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import Connexion_Transfert as ct

from datetime import datetime
from TelechargementDonnees import JoueursSiteNba, DriverFirefox, gererCookie,simplifierNomJoueur, JourneeSiteNba, Blessures, JoueursChoisisTtfl
from TeleversementJourneeBdd import JourneeBdd, insererBlessesInconnusMatchBefore, miseAJourBlessesBdd, insererBlessesInconnusPasMatchBefore, transfertCalendrier
from sqlalchemy import MetaData

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
pd.set_option('display.max_rows', 500)

# 1. Données de joueurs 
Il s'agit de transfere dans le cas des donnees de joueuer telechargees en amont, ou d'ajouter des joueurs non presents au moment d'insertion de match

>## 1.1 Enumerations des types de position
A creer a la main

In [ ]:
with ct.ConnexionBdd('basket','maison') as c : 
    pd.DataFrame({'id_position_terrain':['F', 'G', 'C', 'C-F', 'F-G', 'G-F', 'F-C','NC'], 
              'nom_position_terrain':['Forward ; 3 ; ailier', 'Guard ; 1 ou 2  ; meneur ou arriere', 
                                      'Center ; 5 ; Pivot' ,'Power Forward ; 4 ; ailier Fort', 
                                      'Shooting Guard ; 2 ; arriere', 'Shooting Guard ; 2 ; arriere',
                                      'Power Forward ; 4 ; ailier Fort', 'Non connue']}).to_sql(
        'enum_position_terrain', c.sqlAlchemyConn, schema='donnees_source', if_exists='append', index=False)

> ## 1.2 Donnees chargees depuis la page internet
Là ce n'est que le premier import, on ne gère pas la mise à jour

In [79]:
#creation de la classe si import depuis le net
pagejoueuer=JoueursSiteNba(urlPageJoueurs='https://www.nba.com/player/1630173/precious-achiuwa',typeExport='One' ) #joueur unique
pagejoueuer=JoueursSiteNba #joueurs multiples

In [80]:
pagejoueuer.dfJoueurs

In [39]:
#si import depuis json
Joueur=pd.read_json(r'C:\Users\martin.schoreisz\git\Basket\Basket\data\Joueurs_saison_2020-2021\joueurs.json')
#correction format date
Joueur.date_entree_nba=Joueur.date_entree_nba.apply(lambda x : pd.to_datetime(x,unit='ms'))
Joueur.date_naissance=Joueur.date_naissance.apply(lambda x : pd.to_datetime(x,unit='ms'))
#si besoin correction position bizrre car inconnues sur le net (normalenet pris en cmpte en amont dans nouvelle versions)
Joueur.loc[~Joueur.id_position_terrain.isin(['F', 'G', 'C', 'C-F', 'F-G', 'G-F', 'F-C','NC']),'id_position_terrain']='NC'

In [40]:
with ct.ConnexionBdd('basket','maison') as c : 
    #remmplacer pagejoueuer.dfJoueurs par Joueur si import Json
    Joueur[['nom','id_position_terrain','taille', 'poids','date_entree_nba','nom_simple']].to_sql(
        'joueur', c.sqlAlchemyConn, schema='donnees_source', if_exists='append', index=False)

# 2. Données d'équipe
On utilise les données de joueurs pour faire la liste des equipes, et on complete avec les divisions et conférence, puis on transfere

In [41]:
dicoNom={'MIA':'Miami Heat','MIL':'Milwaukee Bucks','NOP':'New-Orleans Pelicans','SAS':'San-Antonio Spurs',
'PHX':'Phoenix','MEM':'Memphis Grizzlies',    'BKN':'Brooklyn Nets','ORL':'Orlando Magic','LAL':'LosAngeles Lakers','POR':'Portland TrailBlazzers','TOR':'Toronto Raptors','CHI':'Chicago Bulls',
'OKC':'Oklahoma City Thunder','WAS':'Washington Wizards','UTA':'Utah Jazz','SAC':'Sacramento Kings','CHA':'Charlotte Hornets','NYK':'New-York Knicks','DEN':'Denver Nuggets',
'LAC':'Los Angeles Clippers','GSW':'Golden State Warriors','MIN':'Minessota TimberWolves','DET':'Detroit Pistons','DAL':'Dallas Mavericks',
'IND':'Indiana Pacers','ATL':'Atlanta Hawks','CLE':'Cleveland Cavaliers','PHI':'Philadelphia Sixers','BOS':'Boston Celtics','HOU':'Houston Rockets'}
list_equipe=dicoNom.keys()

In [42]:
dicoDivision={'Central Division': ['MIL', 'CHI', 'IND', 'CLE', 'DET'],'Atlantic Division': ['BOS', 'BKN', 'NYK', 'TOR', 
'PHI'],'Southeast Division' : ['MIA', 'ORL', 'WAS', 'CHA', 'ATL'],'Southwest Division': ['SAS', 'HOU', 'DAL', 'NOP', 
'MEM'],'Northwest Division' : ['DEN', 'MIN', 'OKC', 'POR', 'UTA'],'Pacific Division' : ['LAC', 'LAL', 'PHX', 'GSW', 'SAC']}
listDivision=[k for e in list_equipe for k,v in dicoDivision.items()  if e in v]

In [43]:
dicoConference={'Ouest' : ['SAS', 'HOU', 'DAL', 'NOP', 'MEM','DEN', 'MIN', 'OKC', 'POR', 'UTA','LAC', 'LAL', 'PHX', 
    'GSW', 'SAC'],'Est':['MIL', 'CHI', 'IND', 'CLE', 'DET','BOS', 'BKN', 'NYK', 'TOR', 'PHI','MIA', 
                         'ORL', 'WAS', 'CHA', 'ATL']}

listConference=[k for e in list_equipe for k,v in dicoConference.items()  if e in v] 
listNom=[v for k,v in dicoNom.items() for e in list_equipe if k==e]

In [44]:
with ct.ConnexionBdd('basket','boulot') as c : 
    pd.DataFrame({'id_equipe':list_equipe,'nom_equipe': listNom,
              'conference':listConference, 'division':listDivision}).to_sql(
        'equipe', c.sqlAlchemyConn, schema='donnees_source', if_exists='append', index=False)

# 3. Données de match
Lecture et transfert des données du site vers la bdd

In [2]:
for j in [d.strftime('%Y-%m-%d') for d in pd.date_range(start='2021-03-11',periods=1)] : 
    print(j)
    journee=JourneeBdd(j)
    journee.creerAttributsGlobaux()
    journee.exporterVersBdd()

2021-03-11
0 https://www.nba.com/game/det-vs-cha-0022000568/box-score#box-score
1 https://www.nba.com/game/bos-vs-bkn-0022000569/box-score#box-score
2 https://www.nba.com/game/atl-vs-tor-0022000570/box-score#box-score
3 https://www.nba.com/game/orl-vs-mia-0022000571/box-score#box-score
4 https://www.nba.com/game/phi-vs-chi-0022000572/box-score#box-score
5 https://www.nba.com/game/nyk-vs-mil-0022000573/box-score#box-score
6 https://www.nba.com/game/min-vs-nop-0022000574/box-score#box-score
7 https://www.nba.com/game/dal-vs-okc-0022000575/box-score#box-score
8 https://www.nba.com/game/gsw-vs-lac-0022000576/box-score#box-score
9 https://www.nba.com/game/phx-vs-por-0022000577/box-score#box-score
10 https://www.nba.com/game/hou-vs-sac-0022000578/box-score#box-score

# 4. exemple de blessure
le joueur Markelle Fultz s'est fait une rupture des ligaments croisé, exemple d'insertion dans la table blessure

In [ ]:
nomJoueurBlesse='Markelle Fultz'
idTypeBlessure=1
dateBlessure='2021-06-01'
requeteBlessure = f"""insert into donnees_source.blessure(id_joueur,id_type_blessure,date_blessure) 
             select id_joueur,{idTypeBlessure},{dateBlessure} from donnees_source.joueur where lower(nom)=lower{nomJoueurBlesse}"""
with ct.ConnexionBdd('basket','maison') as c : 
    c.execute(c.sqlAlchemyConn,requeteBlessure)

In [46]:
#dfsInjuries=Blessures().dfInjuries
with ct.ConnexionBdd('basket','maison') as c : 
    #miseAJourBlessesBdd(dfsInjuries,c.sqlAlchemyConn)
    #insererBlessesInconnusMatchBefore(dfsInjuries,c.sqlAlchemyConn)
    insererBlessesInconnusPasMatchBefore(dfsInjuries,c.sqlAlchemyConn)

# 5. TTFL : inserer les joueurs choisis
Inserer dans la base les joueurs deja choisis en ttfl ;  
Pour le moment je télécharge manuellement les donnees depuis trashtalk
à terme on pourra telecaharger auto (attention, gestion mot de passe) ou remplir directement depuis une liste exterieure

In [61]:
JoueurChoisis=JoueursChoisisTtfl([r'D:\temp\basket\Dashboard TRASHTALK FANTASY_3.html'],1)
JoueurChoisis.dfJoueurAInserer

,Date,Joueur,Pts,Reb,Ast,Stl,Blk,Ftm,Fgm,Fg3m,Malus,Score,nom_simple,id_joueur
0,2021-03-04,Shai Gilgeous-Alexander,33,3,8,0,1,9,11,2,13,54,shaigilgeousalexander,244
1,2021-03-03,Terry Rozier,31,3,4,3,0,1,12,6,18,42,terryrozier,488
2,2021-03-02,Bam Adebayo,11,2,3,0,0,5,3,0,7,17,bamadebayo,83
4,2021-03-01,Jamal Murray,24,2,3,0,1,4,8,4,14,32,jamalmurray,415
6,2021-02-28,Julius Randle,25,8,6,2,1,2,10,3,13,44,juliusrandle,471
8,2021-02-27,Kyrie Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,kyrieirving,306

,Date,Joueur,Pts,Reb,Ast,Stl,Blk,Ftm,Fgm,Fg3m,Malus,Score,nom_simple,id_joueur
0,2021-03-04,Shai Gilgeous-Alexander,33,3,8,0,1,9,11,2,13,54,shaigilgeousalexander,244
1,2021-03-03,Terry Rozier,31,3,4,3,0,1,12,6,18,42,terryrozier,488
2,2021-03-02,Bam Adebayo,11,2,3,0,0,5,3,0,7,17,bamadebayo,83
4,2021-03-01,Jamal Murray,24,2,3,0,1,4,8,4,14,32,jamalmurray,415
6,2021-02-28,Julius Randle,25,8,6,2,1,2,10,3,13,44,juliusrandle,471
8,2021-02-27,Kyrie Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,kyrieirving,306

# 6. tranferer le calendrier des matchs a venir
en fonction d'une date et duree.  
il reste a mettre en place un systeme qui checke en amont les donnees deja presente et delete celle qui ne sont plus dans la journee (ou reportee, a verifier), et qui insere de nouvelle

In [58]:
transfertCalendrier(1,'13/03/2021',15)